<div class="cat-container">
    <form [formGroup]="catForm" (ngSubmit)="addCat()">
        <mat-form-field class="form-item" appearance="standard">
            <mat-label>Category Name</mat-label>
            <input matInput #message formControlName="name" maxlength="128" placeholder="Ex. TV, Smartphone, Watch, ..." (ngModel)="newCat">
            
            <mat-hint align="end">{{message.value.length}} / 128</mat-hint>
        </mat-form-field>

        <!-- <button mat-raised-button color="primary" (click)="addCat()">Adicionar nova Categoria</button>         -->
        <button mat-raised-button color="primary" type="submit">Adicionar nova Categoria</button>        
        
    </form>
    
    <table class="cat-list">
        <tr *ngFor="let category of catList; let i = index">
            <ng-container>            
                <td>        
                    <label>{{category.name}}</label>
                </td>
                <td>
                    <button (click)="delCat(i)">Deletar categoria</button>
                </td>
            </ng-container>
        </tr>
    </table>
</div>